<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/addBook}" th:object="${book}" method="post">
        <div class="form-group">
            <label for="inputIsbn">ISBN</label>
            <input type="text" class="form-control" id="inputIsbn"
                   th:field="*{isbn}" placeholder="Enter isbn" required>
        </div>
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle"
                   th:field="*{title}" placeholder="Enter title" required>
        </div>
        <div class="form-group">
            <label for="inputAuthor">Author</label>
            <input type="text" class="form-control" id="inputAuthor"
                   th:field="*{author}" placeholder="Enter author" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>